@font-face {
  font-family: 'Karla';
  src: url('/fonts/static/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Karla', sans-serif;

  /* variables */

  /* Primary */

  --light-green: hsl(148, 38%, 91%);
  --green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 56%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --medium-grey: hsl(186, 15%, 59%);
  --dark-green: hsl(187, 24%, 22%);

  font-size: 16px;
}

/* ------------------ css reset -------------------- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  transition: all .3s ease-in-out;
}

/* -------------- utility classes ------------------ */

/* display */

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/* width */

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/* position */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.gap-1 {
  gap: .5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-5 {
  gap: 2.5rem;
}

.gap-6 {
  gap: 3rem;
}

.gap-7 {
  gap: 3.5rem;
}

.gap-8 {
  gap: 4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* typography */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-size-1 {
  font-size: 1rem;
}

.text-size-2 {
  font-size: 1.5rem;
}

.text-size-3 {
  font-size: 2rem;
}

.text-size-4 {
  font-size: 2.5rem;
}

.text-size-5 {
  font-size: 3rem;
}

.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: lighter;
}

/* hovers */

.cursor-pointer {
  cursor: pointer;
}


/* ------------------ custom styles  ------------------- */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-green);
}

main {
  padding-block: 2rem;
  padding-inline: .8rem;
  width: 100%;
  color: var(--dark-green);
  display: grid;
  place-content: center;
}

.container {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--white);
  width: 100%;
  border-radius: .8rem;
}

.container h1 {
  font-size: 2rem
}

form {
  margin-block-start: 2rem;

}

form .asterisk {
  color: var(--green);
  margin-left: .3rem;
}

form .form-group {
  margin-block-end: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form .form-group label {
  font-size: .875rem;
}

form .form-group textarea,
form .form-group input {
  padding: .8rem;
  border-radius: .5rem;
  border: 1.5px solid var(--medium-grey);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

form .form-group input:hover{
  border-color: var(--green);
}


form .form-group textarea {
  resize: none;
  min-height: 12rem;
}

form .form-group.query-type .options .option{
  border: 1px solid var(--medium-grey);
  border-radius: .5rem;
  padding: .8rem 1.5rem;
  cursor: pointer;
}

form button {
  display: block;
  background-color: var(--green);
  color: var(--white);
  padding: 1.2rem .8rem;
  border-radius: .5rem;
  margin-block-start: 2rem;
}

form button:hover {
  background-color: var(--dark-green);
}

/* Error messages */

.error-message {
  color: var(--red);
  font-size: .75rem;
  height: 14px;
}

textarea.error,
input.error {
  border-color: var(--red) !important;
}

/* Success message */

.success-dialog {
  background-color: var(--dark-green);
  border: 1px solid var(--dark-green);
  border-radius: 1rem;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  margin-block-start: 1rem;
  color: var(--white);

  /* center dialog */
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.success-dialog .dialog-content .header > p {
  font-size: 1.3rem;
}

/* Media Queries */

@media screen and (min-width: 640px) {

  .container {
    width: 640px
  }

  form .desktop-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  form .form-group.query-type .options {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 1rem;
  }

  form .form-group textarea {
    min-height: 5.5rem;
  }
}